[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third_party/SPIRV-Reflect"]
	path = third_party/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "third_party/VkFFT"]
	path = third_party/VkFFT
	url = https://github.com/DTolm/VkFFT.git
[submodule "asset-baker/third_party/assimp"]
	path = asset-baker/third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "asset-baker/third_party/json"]
	path = asset-baker/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "asset-baker/third_party/lz4"]
	path = asset-baker/third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "asset-baker/third_party/tinyobjloader"]
	path = asset-baker/third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "asset-baker/third_party/glm"]
	path = asset-baker/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "asset-baker/third_party/tinygltf"]
	path = asset-baker/third_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
